
@{
    ViewBag.Title = "Index";
}

<h2>Index PAINEL ADMINISTRATIVO</h2>

<h3><a href="/Medicos/Create">Cadastrar Médico</a></h3>
<h3><a href="/Medicos/Index">Editar Médico</a></h3>
<h3><a href="/Especialidades/Create">Cadastrar Especialidade</a></h3>
<h3><a href="/Especialidades/Index">Listar Especialidade</a></h3>
<h3><a href="/Cidades/Create">Cadastrar Cidade</a></h3>
<h3><a href="/Cidades/Index">Listar Cidade</a></h3>
